:root {
  --blue-pale: #e4e7ff;
  --blue-pale-darker: #cbd1ff;
  --blue-pale-secondary: #c3caff;
  --blue-faint-text: #81839f;
  --blue-primary: #bbc1ee;
  --red-primary: #d01413;
  --red-primary-light: #e37271;
  --blue-dark: #03083e;
  --green-primary: #34b233;
}
